.page {
	// .page__product-card
	&__product-card {
		margin: 0px 0px 112px 0px;
		@media (max-width: $mobile) {
			margin: 0px 0px 80px 0px;
		}
	}
	// .page__benefits
	&__benefits {
	}
	// .page__order
	&__order {
		margin: 0px 0px 73px 0px;
		@media (max-width: $mobile) {
			margin: 0px 0px 79px 0px;
		}
	}
	// .page__consultation
	&__consultation {
		margin: 0px 0px 73px 0px;
		@media (max-width: $mobile) {
			margin: 0px 0px 59px 0px;
		}
	}
}

.product-card {
	// .product-card__container
	&__container {
	}
	// .product-card__top
	&__top {
		display: flex;
		justify-content: space-between;
		margin: 0px 0px 64px 0px;
		@media (max-width: $tablet) {
			flex-direction: column;
			justify-content: start;
		}
		@media (max-width: $mobile) {
			margin: 0px 0px 55px 0px;
		}
	}
	// .product-card__bottom
	&__bottom {
		margin: 0px 0px 40px 0px;
		transform: translate(0, 30%);
		opacity: 0;
		transition:
			opacity 1.5s ease 0.3s,
			transform 1.5s ease 0.3s;
		&._watcher-view {
			opacity: 1;
			transform: translate(0, 0);
		}
		@media (max-width: $mobile) {
			margin: 0px 0px 30px 0px;
		}
	}
	// .product-card__areas-application
	&__areas-application {
	}
}

//========================================================================================================================================================

.top-product-card {
	// .top-product-card__content
	&__content {
		flex: 0 1 50%;
		margin: 0px 30px 0px 0px;
		transform: translate(-30%, 0);
		opacity: 0;
		transition:
			opacity 1.5s ease 0.3s,
			transform 1.5s ease 0.3s;
		&._watcher-view {
			opacity: 1;
			transform: translate(0, 0);
		}
		@media (max-width: $tablet) {
			transform: translate(0, 30%);
			flex: 1 1 auto;
			margin: 0px 0px 0px 0px;
			display: flex;
			flex-direction: column;
		}
		h1 {
			margin: 0px 0px 15px 0px;
			@media (max-width: $mobile) {
				font-size: 32px;
			}
		}
		p {
			font-size: 17px;
			font-weight: 400;
			line-height: math.div(25, 17);
		}
	}
	// .top-product-card__title
	&__title {
		margin: 0px 0px 27px 0px;
		@media (max-width: $tablet) {
			order: 1;
		}
		@media (max-width: $mobile) {
			margin: 0px 0px 25px 0px;
		}
	}
	// .top-product-card__form
	&__form {
		border-radius: 20px;
		background: $color_white;
		box-shadow: 5px 15px 40px 0px rgba(30, 35, 66, 0.15);
		padding: 28px 28px 30px 28px;
		max-width: 566px;
		@media (max-width: $tablet) {
			max-width: 100%;
			order: 3;
			margin: 25px 0px 0px 0px;
		}
		@media (max-width: $mobile) {
			padding: 28px 28px 20px 28px;
		}
	}
	// .top-product-card__selects
	&__selects {
		display: flex;
		flex-wrap: wrap;
		margin: -6px -12px;
		@media (max-width: $mobileSmall) {
			flex-direction: column;
			margin: -6px;
		}
	}
	// .top-product-card__select
	&__select {
		flex: 1 1 33.3333%;
		padding: 6px 12px;
		@media (max-width: $mobile) {
			flex: 1 1 50%;
		}
		@media (max-width: $mobileSmall) {
			padding: 6px 0px;
		}
	}
	// .top-product-card__totals
	&__totals {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 22px 0px 0px 0px;
		@media (max-width: $mobile) {
			justify-content: center;
		}
	}
	// .top-product-card__total
	&__total {
		margin: 0px 20px 0px 0px;
		@media (max-width: $mobile) {
			margin: 0px 0px 0px 0px;
		}
		span {
			display: block;
			font-size: 16px;
			font-weight: 400;
			margin: 0px 0px 5px 0px;
		}
	}
	// .top-product-card__sum
	&__sum {
		display: flex;
		flex-wrap: wrap;
		span {
			color: $color_green_light;
			font-size: 24px;
			font-weight: 600;
			margin: 0px 13px 0px 0px;
		}
		s {
			margin: 5px 0px 0px 0px;
			color: #a0a0a0;
			font-size: 16px;
			font-weight: 400;
		}
	}
	// .top-product-card__buttons
	&__buttons {
		@media (max-width: $mobile) {
			flex: 1 1 50%;
			padding: 6px 12px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}
		@media (max-width: $mobileSmall) {
			padding: 6px 0px;
		}
	}
	// .top-product-card__button
	&__button {
		padding: 17px 43px;
		@media (max-width: $mobile) {
			width: 100%;
			padding: 17px;
		}
	}
	// .top-product-card__swiper
	&__swiper {
		position: relative;
		flex: 0 1 50%;
		min-width: 0;
		opacity: 0;
		transition: opacity 1.5s ease 0.3s;
		&._watcher-view {
			opacity: 1;
		}
		@media (max-width: $tablet) {
			flex: 1 1 auto;
			order: 1;
		}
	}
	// .top-product-card__slider
	&__slider {
	}
	// .top-product-card__wrapper
	&__wrapper {
	}
	// .top-product-card__slide
	&__slide {
		display: flex;
	}
	// .top-product-card__image
	&__image {
		//width: 100%;
		height: 100%;
		position: relative;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			background: #000000;
			border-radius: 20px;
		}
	}
	// .top-product-card__sale
	&__sale {
		background: #ff7a00;
		position: absolute;
		top: 34px;
		left: 0;
		padding: 3px 8px;
		color: $color_white;
		text-align: center;
		font-size: 13px;
		font-weight: 600;
		text-transform: uppercase;
	}
	// .top-product-card__dotts
	&__dotts {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		bottom: 30px;
		padding: 0px 0px 0px 0px;
		.swiper-pagination-bullet {
			background: $color_white;
		}
		.swiper-pagination-bullet-active {
			background: $color_green;
		}
	}
	// .top-product-card__arrow-prev
	&__arrow-prev {
		left: 24px;
		top: 50%;
		transform: translate(0, -50%);
		@media (max-width: $tablet) {
			display: flex;
		}
		@media (max-width: $mobileSmall) {
			left: 15px;
			width: 32px;
			height: 32px;
			&::before {
				font-size: 12px;
			}
		}
	}
	// .top-product-card__arrow-next
	&__arrow-next {
		right: 24px;
		top: 50%;
		transform: translate(0, -50%);
		@media (max-width: $tablet) {
			display: flex;
		}
		@media (max-width: $mobileSmall) {
			right: 15px;
			width: 32px;
			height: 32px;
			&::before {
				font-size: 12px;
			}
		}
	}
}

//========================================================================================================================================================

.bottom-product-card {
	// .bottom-product-card__tabs
	&__tabs {
	}
}

//========================================================================================================================================================

//сфера применения
.areas-application {
	h3 {
		margin: 0px 0px 25px 0px;
		transform: translate(0, 30%);
		opacity: 0;
		transition:
			opacity 1.5s ease 0.3s,
			transform 1.5s ease 0.3s;
		&._watcher-view {
			opacity: 1;
			transform: translate(0, 0);
		}
		@media (max-width: $mobile) {
			font-size: 32px;
		}
	}
	// .areas-application__content
	&__content {
	}
	// .areas-application__tabs
	&__tabs {
		opacity: 0;
		transition: opacity 1.5s ease 0.3s;
		&._watcher-view {
			opacity: 1;
		}
		@media (max-width: $tablet) {
			flex: 1 1 auto;
			margin: 0px 0px 27px 0px;
		}
	}
	// .areas-application__swiper
	&__swiper {
		position: relative;
		flex: 0 1 50%;
		min-width: 0;
		height: 100%;
		margin: -65px 0px 0px 0px;
		@media (max-width: $tablet) {
			flex: 1 1 auto;
			margin: 0px 0px 0px 0px;
		}
	}
	// .areas-application__slider
	&__slider {
		position: relative;
		min-width: 0;
	}
	// .areas-application__wrapper
	&__wrapper {
	}
	// .areas-application__slide
	&__slide {
		display: flex;
	}
	// .areas-application__image
	&__image {
		width: 100%;
		height: 360px;
		@media (max-width: $mobile) {
			height: 320px;
		}
		@media (max-width: $mobileSmall) {
			height: 220px;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 20px;
		}
	}
	// .areas-application__arrow-prev
	&__arrow-prev {
		left: 24px;
		top: 50%;
		transform: translate(0, -50%);
		@media (max-width: $tablet) {
			display: flex;
		}
		@media (max-width: $mobileSmall) {
			left: 15px;
			width: 32px;
			height: 32px;
			&::before {
				font-size: 12px;
			}
		}
	}
	// .areas-application__arrow-next
	&__arrow-next {
		right: 24px;
		top: 50%;
		transform: translate(0, -50%);
		@media (max-width: $tablet) {
			display: flex;
		}
		@media (max-width: $mobileSmall) {
			right: 15px;
			width: 32px;
			height: 32px;
			&::before {
				font-size: 12px;
			}
		}
	}
}

//========================================================================================================================================================

//преимущества
.benefits {
	// .benefits__container
	&__container {
	}
	// .benefits__content
	&__content {
		h2 {
			margin: 0px 0px 43px 0px;
			transform: translate(0, 30%);
			opacity: 0;
			transition:
				opacity 1.5s ease 0.3s,
				transform 1.5s ease 0.3s;
			&._watcher-view {
				opacity: 1;
				transform: translate(0, 0);
			}
			@media (max-width: $mobile) {
				margin: 0px 0px 55px 0px;
			}
		}
	}
	// .benefits__body
	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: -20px -38px;
		transform: translate(0, 30%);
		opacity: 0;
		transition:
			opacity 1.5s ease 0.3s,
			transform 1.5s ease 0.3s;
		&._watcher-view {
			opacity: 1;
			transform: translate(0, 0);
		}
		@media (max-width: $tablet) {
			margin: -20px -13px;
		}
		@media (max-width: $mobileSmall) {
			flex-direction: column;
			margin: -20px 0px;
		}
	}
	// .benefits__column
	&__column {
		flex: 1 1 20%;
		padding: 20px 38px;
		@media (max-width: $tablet) {
			flex: 1 1 33.3333%;
			padding: 20px 13px;
		}
		@media (max-width: $mobile) {
			flex: 1 1 50%;
		}
		@media (max-width: $mobileSmall) {
			flex: 1 1 auto;
			padding: 20px 0px;
		}
	}
	// .benefits__item
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		p {
			max-width: 187px;
			text-align: center;
			font-size: 18px;
			font-weight: 600;
		}
	}
	// .benefits__icon
	&__icon {
		background: $color_green;
		border-radius: 50%;
		filter: drop-shadow(5px 15px 40px rgba(30, 35, 66, 0.15));
		padding: 23px;
		margin: 0px 0px 24px 0px;
		width: 90px;
		height: 90px;
		&::before {
			font-size: 42px;
			color: $color_white;
		}
	}
}

//========================================================================================================================================================

//как заказать
.order {
	// .order__container
	&__container {
	}
	// .order__content
	&__content {
		h2 {
			margin: 0px 0px 35px 0px;
			transform: translate(0, 30%);
			opacity: 0;
			transition:
				opacity 1.5s ease 0.3s,
				transform 1.5s ease 0.3s;
			&._watcher-view {
				opacity: 1;
				transform: translate(0, 0);
			}
			@media (max-width: $mobile) {
				margin: 0px 0px 40px 0px;
			}
		}
	}
	// .order__body
	&__body {
		display: flex;
		flex-wrap: wrap;
		transform: translate(-30%, 0px);
		opacity: 0;
		transition:
			opacity 1.5s ease 0.3s,
			transform 1.5s ease 0.3s;
		&._watcher-view {
			opacity: 1;
			transform: translate(0, 0);
		}
		@media (max-width: $tablet) {
			flex-direction: column;
			transform: translate(0, 30%);
		}
	}
	// .order__column
	&__column {
		flex: 1 1 25%;
		&:nth-child(n + 2) {
			margin: 0px 0px 0px -40px;
			@media (max-width: $pc) {
				margin: 0px 0px 0px -80px;
			}
			@media (max-width: $tablet) {
				margin: -10px 0px 0px 0px;
			}
		}
		&:nth-child(1) {
			.order__item {
				z-index: 10;
				padding: 20px 20px 20px 33px;
				@media (max-width: $tablet) {
					padding: 27px 28px 20px 33px;
				}
				@media (max-width: $mobileSmall) {
					padding: 20px;
				}
			}
		}
		&:nth-child(2) {
			.order__item {
				z-index: 9;
				padding: 20px 20px 20px 63px;
				@media (max-width: $pc) {
					padding: 20px 20px 20px 93px;
					background: $color_white;
					border-radius: 10px;
					&::before {
						content: "";
						display: none;
					}
				}
				@media (max-width: $tablet) {
					padding: 27px 28px 20px 33px;
				}
				@media (max-width: $mobileSmall) {
					padding: 20px;
				}
			}
		}
		&:nth-child(3) {
			@media (max-width: $pc) {
				margin: 0px 0px 0px 0px;
			}
			.order__item {
				z-index: 8;
				padding: 20px 20px 20px 63px;
				@media (max-width: $pc) {
					padding: 20px 20px 20px 33px;
				}
				@media (max-width: $tablet) {
					padding: 27px 28px 20px 33px;
				}
				@media (max-width: $mobileSmall) {
					padding: 20px;
				}
			}
		}
		&:nth-child(4) {
			.order__item {
				z-index: 7;
				padding: 20px 20px 20px 63px;
				background: $color_white;
				border-radius: 10px;
				&::before {
					content: "";
					display: none;
				}
				@media (max-width: $pc) {
					padding: 20px 20px 20px 93px;
				}
				@media (max-width: $tablet) {
					padding: 27px 28px 20px 33px;
				}
				@media (max-width: $mobileSmall) {
					padding: 20px;
				}
			}
		}
		@media (max-width: $pc) {
			flex: 1 1 50%;
		}
		@media (max-width: $tablet) {
			flex: 1 1 auto;
		}
	}
	// .order__item
	&__item {
		min-height: 120px;
		position: relative;
		filter: drop-shadow(5px 15px 40px rgba(30, 35, 66, 0.15));
		display: flex;
		align-items: center;
		height: 100%;
		&::before {
			content: "";
			background-repeat: no-repeat;
			width: 100%;
			height: 100%;
			background-size: 100% 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-image: url("../img/order.png");
			z-index: -1;
		}
		@media (max-width: $tablet) {
			background: $color_white;
			border-radius: 10px;
			padding: 27px 28px 20px 33px;
			&::before {
				content: "";
				display: none;
			}
		}
		@media (max-width: $mobileSmall) {
			padding: 20px;
		}
		p {
			font-size: 18px;
			font-weight: 600;
		}
	}
	// .order__num
	&__num {
		position: relative;
		color: $color_green_light;
		font-size: 60px;
		font-weight: 600;
		margin: 0px 24px 0px 0px;
		@media (max-width: $mobile) {
			margin: 0px 36px 0px 0px;
		}
		@media (max-width: $mobileSmall) {
			margin: 0px 15px 0px 0px;
		}
	}
}

//========================================================================================================================================================

//консультация
.consultation {
	// .consultation__container
	&__container {
		position: relative;
		max-width: 1490px;
		padding: 0px 0px 0px 0px;
	}
	// .consultation__bg
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 60px;
			box-shadow: 14px 22px 40px 0px rgba(30, 35, 66, 0.28);
			@media (max-width: 1490px) {
				border-radius: 0px;
				box-shadow: none;
			}
		}
	}
	// .consultation__content
	&__content {
		display: flex;
		position: relative;
		z-index: 4;
		padding: 92px 0px 108px 125px;
		@media (max-width: $pc) {
			padding: 90px 20px 108px 20px;
		}
		@media (max-width: $mobile) {
			padding: 66px 20px 66px 20px;
		}
	}
	// .consultation__body
	&__body {
		position: relative;
		z-index: 4;
		flex: 0 1 550px;
		display: flex;
		flex-direction: column;
		align-items: start;
		transform: translate(0, 30%);
		opacity: 0;
		transition:
			opacity 1.5s ease 0.3s,
			transform 1.5s ease 0.3s;
		&._watcher-view {
			opacity: 1;
			transform: translate(0, 0);
		}
		h2 {
			color: $color_white;
			margin: 0px 0px 13px 0px;
			@media (max-width: $mobile) {
				text-align: center;
			}
		}
		p {
			color: $color_white;
			font-size: 18px;
			font-weight: 400;
			line-height: math.div(26, 18);
			margin: 0px 0px 30px 0px;
			@media (max-width: $mobile) {
				text-align: center;
				margin: 0px 0px 25px 0px;
			}
		}
		@media (max-width: $mobile) {
			flex: 1 1 auto;
			align-items: center;
		}
	}
	// .consultation__button
	&__button {
	}
	// .consultation__images
	&__images {
		flex: 1 1 auto;
		position: relative;
		@media (max-width: $mobile) {
			display: none;
		}
	}
	// .consultation__circle
	&__circle {
		position: absolute;
		top: 54%;
		transform: translate(0, -50%);
		right: 22%;
		width: 402px;
		height: 402px;
		border-radius: 50%;
		border: 60px solid $color_green_light;
		z-index: -1;
		@media (max-width: $pc) {
			right: 0;
		}
	}
	// .consultation__image
	&__image {
		position: absolute;
		top: -82%;
		right: 21%;
		z-index: 2;
		img {
			width: auto;
			transition: all 0.1s ease;
			height: 519px;
		}
		@media (max-width: $pc) {
			right: 0;
		}
	}
}
